// General Document Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

input, textarea {
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}

a {
  text-decoration: none;
}

body, html {
  height: 100%;
}

body {
  font-family: $user-font;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

#app {
  height: 100%;
}

.app {
  height: 100%;
}